<%- include('pages/header') %>
<div class="h-100 pt-5">
    <div class="pt-5 d-flex justify-content-center">
        <h1 class="pt-5" style="font-size:200px"> 404</h1>
    <p class="pt-5"> page not found </p>
    </div>
</div>
<%- include('pages/footer') %>