<%- include ('../pages/header') %>
    <div class="pt-5">
        <form action="addBook" method="post" enctype="multipart/form-data"  style="height:  100%; max-width: 400px;" class="m-auto pt-5 text-center">
            <div class="pt-5">
                <img src="/assets/icon.png" alt="logo">

                <% if(message==='succes' ) {%>
                    <div class="text-succes list-group-item list-group-item-action list-group-item-succes">
                        sauvergarde reussi
                    </div>
                    <% } else if(message === "echec") {%>
                        <div class="text-danger list-group-item list-group-item-action list-group-item-danger">echec de la sauvergarde <br>
                            <%= error %>
                        </div>
                        <% }else {} %>
            </div>
                        <div class="pt-5 form-text">
                            <h1>Ajout de livre</h1>
                        </div>

                        <div class="form-floating">
                            <input type="text" id="title" name="title" placeholder="Titre" class="w-100 form-control">
                            <label for="title">Titre</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" id="author" name="author" placeholder="Autheur"
                                class="w-100 form-control">
                            <label for="author">Autheur</label>
                        </div>

                        <div class="form">
                            <textarea name="shortDescription" id="shortDescription" placeholder="short Description"
                                style="width: 100%;" maxlength="200" rows="5"></textarea>
                        </div>
                        <div class="form">
                            <textarea name="description" id="description" placeholder="Description" style="width: 100%;"
                                rows="5"></textarea>
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-file-earmark-pdf" style="font-size: x-large;"></i>
                            <input type="file" name="document" id="document"  style="width: 100%;" accept=".pdf">
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-file-earmark-image" style="font-size: x-large;"></i>
                            <input type="file" name="picture" id="picture" style="width: 100%;" accept="image/*">
                        </div>
                        <div class="form-control py-5">
                            <p style="text-align: start;">
                                cochez les themes dont traite le livre
                                <br><input type="checkbox" name="Amour" id="Amour"><label for="Amour">Amour</label>
                                <br><input type="checkbox" name="EspritSaint" id="Esprit-saint"><label for="Esprit-saint">Esprit-Saint</label>
                                <br><input type="checkbox" name="Dieu" id="Dieu"><label for="Dieu">Dieu</label>
                                <br><input type="checkbox" name="Finance" id="Finance"><label for="Finance">Finance</label>
                                <br><input type="checkbox" name="Relation" id="Relation"><label for="Relation">Relation</label>
                                <br><input type="checkbox" name="Sante" id="Sante"><label for="Sante">Sante</label>
                            </p>
                        </div>

                        <button type="submit" class="btn btn-primary mt-5">envoie <i
                                class="bi bi-cursor-fill"></i></button>
        </form>

    </div>

    <%- include ('../pages/footer') %>
